@tailwind base;
@tailwind components;
@tailwind utilities;

#root > div[data-overlay-container="true"] {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.frozen {
    pointer-events: none;

    * {
        user-select: none;
        pointer-events: none;
    }
}
